.partsContainer {
  color: white;
  font-family: var(--font-barlow-condensed);
  font-size: 24px;
  font-weight: 400;
  margin-top: -6px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.cardPart,
.damagePart,
.flipPart,
.scrappedPart,
.quellPart,
.aspectPart {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.cardPartSymbol,
.damagePartSymbol,
.flipPartSymbol,
.scrappedPartSymbol,
.quellPartSymbol,
.aspectPartSymbol {
  content: '';
  position: absolute;
  inset: 0;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.numberPart {
  position: relative;
  font-weight: 600;
}

.cardPartSymbol {
  aspect-ratio: 30 / 43;
}

.cardPart {
  width: 22px;
}

.cardPart .numberPart {
  color: black;
}

.damagePartSymbol {
  aspect-ratio: 36 / 36;
  margin-top: 3px;
}

.damagePart {
  width: 26px;
}

.quellPartSymbol {
  aspect-ratio: 39 / 36;
  margin-top: 3px;
}

.quellPart {
  width: 28px;
}

.scrappedPartSymbol {
  aspect-ratio: 36 / 48;
  margin-top: -24px;
}

.scrappedPart {
  width: 26px;
}

.flipPartSymbol {
  aspect-ratio: 45 / 51;
  margin-top: -28px;
}

.flipPart {
  width: 33px;
}

.aspectPartSymbol {
  aspect-ratio: 35 / 40;
  margin-top: -22px;
}

.aspectPart {
  width: 25px;
}

.numberPart.one {
  margin-left: -1.5px;
}