.partsContainer {
  color: white;
  font-family: var(--font-barlow-condensed);
  font-size: 24px;
  font-weight: 400;
  margin-top: -6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 6px;
}

.cardPart,
.cardPartPlus,
.glimpsePart,
.drawLimitPart,
.damagePart,
.flipPart,
.scrappedPart,
.quellPart,
.aspectPart {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.cardPartSymbol,
.cardPartPlusSymbol,
.glimpsePartSymbol,
.drawLimitPartSymbol,
.damagePartSymbol,
.flipPartSymbol,
.scrappedPartSymbol,
.quellPartSymbol,
.aspectPartSymbol {
  content: '';
  position: absolute;
  inset: 0;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.cardPart .numberPart,
.cardPartPlus .numberPart,
.glimpsePart .numberPart,
.drawLimitPart .numberPart {
  color: black;
}

.numberPart {
  position: relative;
  font-weight: 600;
}

.cardPartSymbol {
  aspect-ratio: 30 / 43;
}

.cardPart {
  width: 22px;
}

.cardPartPlusSymbol {
  aspect-ratio: 39 / 43;
}

.cardPartPlus {
  width: 28px;
}

.cardPartPlus .numberPart {
  margin-right: 6px;
}

.damagePartSymbol {
  aspect-ratio: 36 / 36;
  margin-top: 3px;
}

.damagePart {
  width: 26px;
}

.quellPartSymbol {
  aspect-ratio: 39 / 36;
  margin-top: 3px;
}

.quellPart {
  width: 28px;
}

.scrappedPartSymbol {
  aspect-ratio: 36 / 48;
}

.scrappedPart {
  width: 22px;
}

.flipPartSymbol {
  aspect-ratio: 45 / 51;
}

.flipPart {
  width: 28px;
}

.aspectPartSymbol {
  aspect-ratio: 35 / 40;
}

.aspectPart {
  width: 25px;
}

.numberPart.one {
  margin-left: -1.5px;
}

.numberPart.star {
  margin-top: 5.5px;
}

.punctuationPart {
  margin-left: -5px;
}

.tagPart {
  margin-left: 6px;
  margin-right: -4px;
}

.glimpsePartSymbol {
  aspect-ratio: 42 / 69;
  margin-top: -8px;
}

.glimpsePartSymbol.bump {
  margin-top: -6.5px;
}

.glimpsePart {
  width: 28px;
}

.drawLimitPartSymbol {
  aspect-ratio: 42 / 42;
  margin-top: 1.5px;
}

.drawLimitPart {
  width: 28px;
}
