.partsContainer {
  color: white;
  font-family: var(--font-barlow-condensed);
  font-size: 24px;
  font-weight: 400;
  margin-top: -6px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.cardPart {
  position: relative;
  width: 22px;
  display: inline-block;
}

.cardPartSymbol {
  content: '';
  position: absolute;
  inset: 0;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.cardPartSymbol {
  width: 22px;
  aspect-ratio: 30 / 43;
}

.numberPart {
  position: relative;
  color: black;
  font-weight: 600;
}

.cardPart .numberPart {
  padding-left: 5px;
}