.effectLine {
  font-family: var(--font-barlow-condensed);
  font-size: 24px;
  padding: 4px 15px;
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  width: 100%;
}

.effectConditionals {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
}

.largeAndCenter {
  justify-content: center;
  column-gap: 0;
  transform: scale(1.3);
}