.tag {
  text-transform: uppercase;
  font-family: var(--font-barlow-condensed);
  font-weight: 600;
  font-size: 18px;
  transform: skewX(-25deg);
  transform-origin: top left;
  color: black;
  line-height: 18px;
  height: 22px;
  padding: 1px 4px 0;
}

.bling {
  background-color: #00d466;
}

.ability {
  background-color: #b354f2;
}

.item {
  background-color: #ffae3c;
}

.weapon {
  background-color: #c59684;
}

.blade {
  background-color: #ff5959;
}

.straightLeft {
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
}

.tagTexture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  mix-blend-mode: overlay;
  opacity: 0.75;
}