.dragDropContainer {
  width: 100%;
  height: 150px;
  border: 2px dashed #cccccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cropContainer {
  width: 100%;
}

.cropper {
  height: 60vh;
  background-color: #333;
  overflow: hidden;
  position: relative;
}