.container {
    margin: 0 auto;
    padding: 2rem 1rem;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--font-pirata-one);
}
