.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 16rem;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
}

.title {
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 1rem;
}
