.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 16rem;
}

.widthFull {
  max-width: none;
  --ds-field-max-width: none;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.title {
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 1rem;
}
