.toggle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  background-color: transparent;
  color: var(--color-gray-600);
  user-select: none;

  &:focus-visible {
    background-color: transparent;
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-200);
  }

  &[data-pressed] {
    color: var(--color-gray-900);
  }
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.buttonContent > svg {
  width: 1rem;
  height: 1rem;
} 


.pressed,
.notPressed {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--color-gray-900);
  user-select: none;

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: var(--color-gray-400);
      color: var(--color-gray-900);
    }
  }

  &:active:not([data-disabled]) {
    background-color: var(--color-gray-200);
    box-shadow: inset 0 1px 3px var(--color-gray-200);
    border-top-color: var(--color-gray-300);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }

  &[data-disabled] {
    color: var(--color-gray-500);
    cursor: not-allowed;
  }
}

.pressed {
  background-color: var(--color-gray-700);
  color: var(--color-gray-50);
}

.notPressed {
  background-color: var(--color-gray-50);
}