.fullCard {
  position: relative;
  width: clamp(238px, 476px, 476px);
  aspect-ratio: 476 / 664;
  border-radius: 12px;
  overflow: hidden;
  isolation: isolate; /* Important for blend/mask/overlay effects */
  background-color: black;
}

.qrtexture,
.rarity,
.frame,
.illustration {
  content: '';
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.illustration {
  width: 470px;
  height: 660px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerContainer {
  position: absolute;
  width: 100%;
  height: 66px;
  bottom: 208px;
  left: 0;
  pointer-events: none;
}

.banner {
  width: 100%;
  height: 100%;
  position: absolute;
}

.banner.top {
  mix-blend-mode: multiply;
}

.banner.top.red {
  background: linear-gradient(
    110deg,
    rgba(202, 0, 38, 0.77) 40%,
    rgba(239, 78, 113, 0.77) 80%,
    rgba(173, 0, 33, 0.67) 100%
  );
}

.banner.bottom.red {
  background: linear-gradient(
    110deg,
    rgba(202, 0, 38, 1.0) 20%,
    rgba(213, 25, 62, 0.69) 45%,
    rgba(239, 78, 113, 0.46) 80%,
    rgba(173, 0, 33, 0.35) 100%
  );
}