.cardContainer {
  width: calc(476px * 0.75);
  height: calc(664px * 0.75);
}

.fullCard {
  position: relative;
  width: 476px;
  aspect-ratio: 476 / 664;
  border-radius: 12px;
  overflow: hidden;
  isolation: isolate; /* Important for blend/mask/overlay effects */
  background-color: black;
  transform: scale(75%);
  transform-origin: top left;
}

.foilOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: color-dodge;
  opacity: 0.15;
  background: linear-gradient(-110deg,
  #000000 10%,
  #ff0000 20%,
  #ffff00 33%,
  #00ff00 45%,
  #00ffff 66%,
  #0000ff 90%,
  #000000 100%
  ) 0 0 / 400% 100%;
  animation: foilShineAnimation 8s ease-in-out infinite;
}

@keyframes foilShineAnimation {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}

.printSize .fullCard {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  margin: 100px;
  transform: scale(417%);
}

.fullCardCropBleed .frame {
  /*
    (476/744 * (816-744))/2
    476 = fullCardWidth
    744 = 330dpi in Adobe Animate
    816 = 330dpi in Adobe Animate + bleed (full board width)
  */
  top: -23px;
  right: -23px;
  bottom: -23px;
  left: -23px;
}

.cardContainer.printSize {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.qrtexture,
.rarity,
.frame,
.illustration,
.flavorTextLine,
.scrapCostTop,
.scrapCostBottom,
.scrapCostSingleAspectOverlay,
.scrapCostDualAspectOverlayTop,
.scrapCostDualAspectOverlayBottom,
.aspectSingle,
.aspectDualLeft,
.aspectDualRight,
.aspectDualOverlay {
  content: '';
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.illustration {
  width: 470px;
  height: 660px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 0.3s ease 0s;
}

.illustrationClickable {
  position: absolute;
  inset: 0;
  cursor: pointer;
  pointer-events: auto;
  top: 40px;
  left: 90px;
  width: 260px;
  height: 340px;
}

.illustration:has(.illustrationClickable:hover) {
  filter: brightness(1.2);
}

.qrcode {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 93px;
  height: 93px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}

.drawLimit {
  position: absolute;
  top: 21px;
  left: 19px;
  width: 65px;
  height: 65px;
  border-radius: 65px;
  line-height: 65px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 57px;
  font-family: var(--font-unifraktur-cook);
  color: black;
  transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
}

.drawLimit:hover,
.qrcode:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
}

.qrcodeImageHover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  user-select: none;
  transition: opacity 0.3s ease 0s;
}

.qrcodeImageHover:hover {
  z-index: 10;
  opacity: 1;
}

.titleContainer,
.details {
  position: absolute;
  left: 19px;
  width: calc(100% - 38px);
  text-align: left;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 66px;
  bottom: 208px;
  justify-content: center;
}

@property --hoverGradientColor1 {
  syntax: '<color>';
  initial-value: rgba(255, 255, 255, 0);
  inherits: false;
}

@property --hoverGradientColor2 {
  syntax: '<color>';
  initial-value: rgba(255, 255, 255, 0);
  inherits: false;
}

.titleContainer,
.flavorTextContainer {
  padding: 0 15px;
}

.titleContainer,
.flavorTextContainer,
.effectsContainer {
  cursor: pointer;
  background: linear-gradient(
    110deg,
    var(--hoverGradientColor1) 0%,
    var(--hoverGradientColor2) 90%
  );
  transition: --hoverGradientColor1 0.3s ease 0s,
    --hoverGradientColor2 0.3s ease 0s;
}

.titleContainer:hover,
.flavorTextContainer:hover,
.effectsContainer:hover {
  --hoverGradientColor1: rgba(255, 255, 255, 0.2);
  --hoverGradientColor2: rgba(255, 255, 255, 0);
}

.details {
  bottom: 63px;
  height: 145px;
  justify-content: flex-start;
}

.typeTitle {
  position: absolute;
  padding: 9px 59px 6px 21px;
  top: calc(42px - 21px);
  left: calc(76px + 9px);
  font-family: var(--font-pirata-one);
  font-size: 60px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  transform: rotate(90deg);
  transform-origin: top left;
  cursor: pointer;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  transition: background-color 0.3s ease 0s;
}

.typeTitle.focus {
  color: white;
}

.typeTitle.gambit {
  padding-right: 23px;
  color: black;
}

.typeTitle.focus:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.typeTitle.gambit:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.title {
  font-family: var(--font-bree-serif);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin-top: -4px;
}

.gambitSubtitle {
  margin-top: -2px;
}

.gambitTitle {
  margin-top: -4px;
}

.titleContainer.white .title,
.titleContainer.white .subtitle {
  color: white;
}

.titleContainer.black .title,
.titleContainer.black .subtitle {
  color: black;
}

.titleContainer.red .title,
.titleContainer.red .subtitle {
  color: #F30F3B;
}

.titleContainer.blue .title,
.titleContainer.blue .subtitle {
  color: #3D76FF;
}

.titleContainer.yellow .title,
.titleContainer.yellow .subtitle {
  color: #FFBD2F;
}

.titleContainer.green .title,
.titleContainer.green .subtitle {
  color: #00CB79;
}

.titleContainer.legendary .title {
  text-shadow:
    -1px -1px 3px rgba(96, 0, 40, 0.63),
    0.5px 1px 0px rgba(74, 4, 36, 0.90),
    0 0 6px #FFDB00,
    -1px -1px 3px rgba(255, 159, 50, 0.75);
}

.titleContainer.legendary .subtitle {
  margin-top: 10px;
  text-shadow:
    0 0 6px #FFDB00,
    -1px -1px 3px rgba(255, 159, 50, 0.25);
}

.subtitle {
  font-family: var(--font-bree-serif);
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

.header,
.footer {
  position: absolute;
  line-height: 12px;
  display: flex;
  font-family: var(--font-barlow-condensed);
  font-weight: 600;
  font-size: 14px;
  justify-content: space-between;
  gap: 8px;
}

.footer {
  width: 100%;
  color: black;
  bottom: 26px;
  justify-content: center;
}

.footer.white {
  color: white;
}

.header {
  top: 19px;
  left: 95px;
  width: 262px;
  color: white;
}

.footerCenter {
  white-space: nowrap;
  display: flex;
  gap: 3px;
}

.headerLeft,
.headerRight {
  cursor: pointer;
  transition: text-shadow 0.3s ease 0s;
}

.headerLeft:hover,
.headerRight:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

.rarityClickable {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  width: 30px;
  height: 30px;
  bottom: 19px;
  right: 19px;
}

.rarity {
  transition: filter 0.3s ease 0s;
}

.rarity:has(.rarityClickable:hover) {
  filter: brightness(1.2);
}

.rarity.brave.legendary {
  filter: hue-rotate(57deg) saturate(0.6);
}

.rarity.cunning.legendary {
  filter: hue-rotate(-157deg) saturate(0.5);
}

.rarity.charming.legendary {
  filter: hue-rotate(140deg) saturate(0.5);
}

.rarity.wise.legendary {
  filter: saturate(0.8);
}

.rarity.brave.epic {
  filter: hue-rotate(27deg) saturate(1.2);
}

.rarity.cunning.epic {
  filter: hue-rotate(-77deg) saturate(1);
}

.rarity.charming.epic {
  filter: hue-rotate(80deg) saturate(1);
}

.rarity.wise.epic {
  filter: hue-rotate(-20deg) saturate(1);
}

.flavorText {
  position: relative;
  margin-top: 4px;
  font-family: var(--font-barlow-condensed);
  font-size: 20px;
  font-style: italic;
  color: white;
}

.flavorTextLine {
  position: relative;
  margin-left: -8px;
  margin-top: 8px;
  margin-bottom: 4px;
  width: 397px;
  height: 15px;
}

.scrapCostContainer {
  position: absolute;
  top: 105px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  transition: filter 0.3s ease 0s;
}

.scrapCostContainer:hover {
  filter: brightness(1.5) saturate(0.75);
}

.scrapCost {
  position: relative;
  width: 45px;
  aspect-ratio: 70 / 90;
}

.scrapCostTop {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
}

.scrapCostBottom {
  transform: rotate(180deg);
  filter: drop-shadow(-2px -2px 5px rgba(0, 0, 0, 0.25));
}

.scrapCostDualAspectOverlayTop {
  transform: translate(-12px, -6px) scale(0.85);
}

.scrapCostDualAspectOverlayBottom {
  transform: translate(12px, 6px) scale(0.85);
}

.aspectContainer {
  position: absolute;
  bottom: 24.5px;
  left: 24.5px;
  --aspectHeight: 32.5px;
  height: var(--aspectHeight);
  cursor: pointer;
  transition: filter 0.3s ease 0s;
}

.aspectContainer:hover {
  filter: brightness(1.5) saturate(0.75);
}

.effectsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
}

.aspectSingle,
.aspectDualLeft,
.aspectDualRight {
  height: var(--aspectHeight);
  aspect-ratio: 40 / 50;
}

.aspectSingle {
  position: relative;
}

.aspectDual {
  position: relative;
  width: 74px;
  height: 36px;
}

.aspectDualOverlay {
  top: -2px;
  left: 20px;
  height: 36px;
  aspect-ratio: 82 / 57;
}

.aspectDualRight {
  left: 29.5px;
}

.tagsContainer {
  position: absolute;
  bottom: 24.5px;
  left: 65px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  transition: filter 0.3s ease 0s;
}

.tagsContainer:hover {
  filter: brightness(1.5);
}

.tagsWithTwoAspects {
  left: 94px;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.topRow {
  /* Matches skew of bottomRow if straightLeft was false */
  margin-left: 11px;
}
