.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #111827; /* gray-900 */
  color: white;
}

.card {
  padding: 2rem;
  background-color: #1f2937; /* gray-800 */
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.title {
  font-size: 1.875rem; /* 3xl */
  font-weight: bold;
  margin-bottom: 1rem;
}

.message {
  margin-bottom: 1.5rem;
}

.button {
  background-color: #D3AF37;
  box-shadow: 0 0 10px #D3AF37;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 0.9;
}
