:root {
  --background: #ffffff;
  --foreground: #171717;

  --auraGradient: linear-gradient(
    90deg,
    #10a470 0%,
    #36ff94 30%,
    #e7f9bd 55%,
    #f9fcde 80%
  );

  --soloGradient: linear-gradient(
    90deg,
    #93bd2b 0%,
    #68dd6a 40%,
    #e1eb82 85%,
    #f4f9c8 100%
  );
  --soloGradientLeft: linear-gradient(
    115deg,
    #768a41 0%,
    #93bd2b 60%
  );

  --pvpGradient: linear-gradient(
    90deg,
    #4ebbee 0%,
    #78bfee 20%,
    #9cfdfa 65%,
    #f4f9c8 100%
  );
  --pvpGradientLeft: linear-gradient(
    115deg,
    #3f8cca 0%,
    #4ebbee 60%
  );

  --drawEndGradient: linear-gradient(
    90deg,
    #5961f9 0%,
    #a17ef2 20%,
    #f6befd 45%,
    #fcedd9 80%
  );
  --drawEndGradientLeft: linear-gradient(
    115deg,
    #3f58ca 0%,
    #5961f9 60%
  );

  --infiniteGradient: linear-gradient(
    90deg,
    #e832c3 0%,
    #fb48fe 30%,
    #fd9ed1 70%,
    #fcedd9 100%
  );
  --infiniteGradientLeft: linear-gradient(
    115deg,
    #e232e8 0%,
    #e832c3 60%
  );

  --reactGradient: linear-gradient(
    90deg,
    #71a101 0%,
    #fab522 30%,
    #f7f73a 70%,
    #fcedd9 100%
  );
  --reactGradientLeft: linear-gradient(
    115deg,
    #2d440b 0%,
    #71a101 60%
  );

  --turnEndGradient: linear-gradient(
    90deg,
    #ff6c6c 0%,
    #ffb25a 30%,
    #fae588 60%,
    #fcedd9 90%
  );
  --turnEndGradientLeft: linear-gradient(
    115deg,
    #db0d60 0%,
    #ff6c6c 60%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.goldButton {
  background-color: #D3AF37;
  box-shadow: 0 0 10px #D3AF37;
}
