.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111827; /* gray-900 */
  font-family: var(--font-barlow-condensed), sans-serif;
}

.main {
  flex-grow: 1;
}
