.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #111827; /* gray-900 */
  color: white;
  text-align: center;
}

.title {
  font-size: 6rem; /* 7xl */
  font-weight: bold;
  font-family: var(--font-pirata-one);
}

.subtitle {
  font-size: 1.5rem; /* 2xl */
  margin-bottom: 2rem;
}

.link {
  color: #f59e0b; /* yellow-400 */
  text-decoration: underline;
}

.link:hover {
  color: #fbbf24; /* yellow-300 */
}
