.container {
    margin: 0 auto;
    padding: 2rem 1rem;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--font-pirata-one);
}

.eventList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.eventCard {
  background-color: #1f2937; /* gray-800 */
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.eventTitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-bree-serif);
  margin-bottom: 0.5rem;
}

.eventDate {
  color: #9ca3af; /* gray-400 */
  margin-bottom: 1rem;
}

.eventDescription {
  margin-bottom: 1rem;
}

.eventLocation {
  font-weight: bold;
}

.locationText {
  color: #f59e0b; /* yellow-400 */
}

@media (min-width: 768px) {
  .eventCard {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
}
