.header {
  background-color: #161B22;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* space-x-6 */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-pirata-one);
}

.nav {
  display: flex;
  gap: 1rem; /* space-x-4 */
}

.navLink:hover {
  color: #f59e0b; /* yellow-400 */
  transition: color 0.3s;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 1rem; /* space-x-4 */
}

.avatar {
  border-radius: 9999px; /* rounded-full */
  border: 2px solid #f59e0b; /* border-yellow-400 */
}

.displayName {
  font-family: var(--font-bree-serif);
}

.button {
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 0.9;
}
